[submodule "ext/imgui"]
	path = ext/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ext/stb"]
	path = ext/stb
	url = git@github.com:nothings/stb.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
